iot/node-red-data/flows.json
[
  {
    "id": "flow_traffic",
    "type": "tab",
    "label": "Traffic MQTT → Gateway",
    "disabled": false,
    "info": "Subscribe city/+/traffic dari Mosquitto → transform → POST ke API Gateway"
  },
  {
    "id": "flow_air",
    "type": "tab",
    "label": "Air Quality MQTT → Gateway",
    "disabled": false,
    "info": "Subscribe city/+/air dari Mosquitto → transform → POST ke API Gateway"
  },
  {
    "id": "flow_status",
    "type": "tab",
    "label": "Status & Error Handling",
    "disabled": false,
    "info": "Monitor status koneksi MQTT dan error handling"
  },

  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto SmartCity",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-bridge",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "city/nodered/status",
    "birthQos": "1",
    "birthRetain": true,
    "birthPayload": "{\"status\":\"online\",\"service\":\"nodered-bridge\"}",
    "birthMsg": {},
    "closeTopic": "city/nodered/status",
    "closeQos": "1",
    "closeRetain": true,
    "closePayload": "{\"status\":\"offline\",\"service\":\"nodered-bridge\"}",
    "closeMsg": {},
    "willTopic": "city/nodered/status",
    "willQos": "1",
    "willRetain": true,
    "willPayload": "{\"status\":\"offline\",\"service\":\"nodered-bridge\"}",
    "willMsg": {},
    "credentials": {
      "user": "nodered",
      "password": "nodered_secret"
    },
    "sessionExpiry": ""
  },

  {
    "id": "http_request_config",
    "type": "http-request",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": []
  },

  {
    "id": "env_config",
    "type": "env",
    "name": "SmartCity Config",
    "env": [
      {
        "name": "GATEWAY_URL",
        "value": "http://api-gateway:3000",
        "type": "str"
      },
      { "name": "IOT_TOKEN", "value": "", "type": "str" },
      { "name": "MQTT_BROKER", "value": "mosquitto", "type": "str" },
      { "name": "MQTT_PORT", "value": "1883", "type": "str" }
    ]
  },

  {
    "id": "comment_traffic_flow",
    "type": "comment",
    "z": "flow_traffic",
    "name": "FLOW 1: city/+/traffic → POST /iot/traffic",
    "info": "Subscribe semua zona traffic dari MQTT\nlalu POST ke API Gateway endpoint /iot/traffic",
    "x": 200,
    "y": 40,
    "wires": []
  },

  {
    "id": "mqtt_in_traffic",
    "type": "mqtt in",
    "z": "flow_traffic",
    "name": "Subscribe city/+/traffic",
    "topic": "city/+/traffic",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 120,
    "wires": [["transform_traffic"]]
  },

  {
    "id": "transform_traffic",
    "type": "function",
    "z": "flow_traffic",
    "name": "Transform Traffic Payload",
    "func": "// Ambil data dari MQTT payload\nconst data = msg.payload;\nconst topic = msg.topic; // city/zone1/traffic\n\n// Ekstrak zone dari topic: city/{zone}/traffic\nconst topicParts = topic.split('/');\nconst zone = topicParts[1]; // zone1, zone2, dst\n\n// Validasi field wajib\nif (!data.vehicle_density || !data.avg_speed_kmh) {\n    node.warn(`[Traffic] Payload tidak lengkap dari topic: ${topic}`);\n    return null;\n}\n\n// Map zone ke zone_id sesuai database\nconst zoneMap = {\n    'zone1': 1,\n    'zone2': 2,\n    'zone3': 3,\n    'zone4': 4,\n    'zone5': 5\n};\n\nconst zoneId = zoneMap[zone];\nif (!zoneId) {\n    node.warn(`[Traffic] Zone tidak dikenal: ${zone}`);\n    return null;\n}\n\n// Transform ke format yang diharapkan PHP Traffic Service\nconst transformedPayload = {\n    zone_id:          zoneId,\n    vehicle_density:  Math.round(data.vehicle_density),\n    avg_speed_kmh:    parseFloat(data.avg_speed_kmh.toFixed(2)),\n    incident_flag:    data.incident_flag || 0,\n    sensor_source:    data.sensor_id || `MQTT-${zone.toUpperCase()}-01`,\n    recorded_at:      data.timestamp || new Date().toISOString(),\n    // Metadata tambahan\n    _meta: {\n        source:    'mqtt',\n        topic:     topic,\n        zone:      zone,\n        zone_name: data.zone_name || zone,\n        received_at: new Date().toISOString()\n    }\n};\n\n// Set URL dan headers untuk HTTP request ke Gateway\nconst gatewayUrl = env.get('GATEWAY_URL') || 'http://api-gateway:3000';\nconst iotToken   = env.get('IOT_TOKEN')   || '';\n\nmsg.url     = `${gatewayUrl}/iot/traffic`;\nmsg.method  = 'POST';\nmsg.payload = transformedPayload;\nmsg.headers = {\n    'Content-Type':  'application/json',\n    'Authorization': `Bearer ${iotToken}`,\n    'X-Device-ID':   data.sensor_id || `MQTT-${zone.toUpperCase()}-01`,\n    'X-Source':      'node-red-bridge',\n    'X-Zone':        zone\n};\n\nnode.log(`[Traffic] Zone ${zone} (id:${zoneId}) density:${transformedPayload.vehicle_density} speed:${transformedPayload.avg_speed_kmh}`);\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 120,
    "wires": [["http_post_traffic"]]
  },

  {
    "id": "http_post_traffic",
    "type": "http request",
    "z": "flow_traffic",
    "name": "POST /iot/traffic",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": true,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 620,
    "y": 120,
    "wires": [["handle_traffic_response"], ["handle_traffic_error"]]
  },

  {
    "id": "handle_traffic_response",
    "type": "function",
    "z": "flow_traffic",
    "name": "Handle Response",
    "func": "const status = msg.statusCode;\nconst body   = msg.payload;\n\nif (status === 200 || status === 201) {\n    node.log(`[Traffic] ✓ Berhasil POST ke gateway: ${status}`);\n    // Kirim ke debug output\n    msg.payload = {\n        success:     true,\n        status_code: status,\n        response:    body,\n        timestamp:   new Date().toISOString()\n    };\n    return [msg, null];\n} else if (status === 429) {\n    node.warn(`[Traffic] Rate limited (429). Akan retry setelah 5 detik.`);\n    // Simpan ke antrian lokal\n    msg.payload = {\n        success: false,\n        reason:  'rate_limited',\n        retry:   true,\n        data:    msg.payload\n    };\n    return [null, msg];\n} else {\n    node.error(`[Traffic] Gateway error: ${status} - ${JSON.stringify(body)}`);\n    msg.payload = {\n        success:     false,\n        status_code: status,\n        error:       body,\n        timestamp:   new Date().toISOString()\n    };\n    return [null, msg];\n}",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 830,
    "y": 100,
    "wires": [["debug_traffic_success"], ["local_queue_traffic"]]
  },

  {
    "id": "handle_traffic_error",
    "type": "function",
    "z": "flow_traffic",
    "name": "Handle Connection Error",
    "func": "// Gateway down — simpan ke antrian lokal Node-RED\nnode.warn(`[Traffic] Gateway tidak bisa dijangkau: ${msg.error}`);\n\nmsg.payload = {\n    success:    false,\n    reason:     'gateway_down',\n    error:      msg.error,\n    original:   msg.payload,\n    queued_at:  new Date().toISOString()\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 830,
    "y": 160,
    "wires": [["local_queue_traffic"]]
  },

  {
    "id": "local_queue_traffic",
    "type": "function",
    "z": "flow_traffic",
    "name": "Local Queue (Gateway Down)",
    "func": "// Simpan ke context lokal Node-RED saat gateway down\nconst queue = context.get('traffic_queue') || [];\n\nqueue.push({\n    payload:   msg.payload,\n    queued_at: new Date().toISOString()\n});\n\n// Batasi queue maksimal 100 item\nif (queue.length > 100) {\n    queue.shift(); // hapus yang paling lama\n    node.warn('[Traffic] Queue penuh (100), item lama dihapus');\n}\n\ncontext.set('traffic_queue', queue);\nnode.warn(`[Traffic] Data disimpan ke antrian lokal. Queue size: ${queue.length}`);\n\nmsg.payload = { queued: true, queue_size: queue.length };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1060,
    "y": 160,
    "wires": [["debug_traffic_queue"]]
  },

  {
    "id": "debug_traffic_success",
    "type": "debug",
    "z": "flow_traffic",
    "name": "Traffic Success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.status_code",
    "statusType": "msg",
    "x": 1060,
    "y": 100,
    "wires": []
  },

  {
    "id": "debug_traffic_queue",
    "type": "debug",
    "z": "flow_traffic",
    "name": "Traffic Queued",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1280,
    "y": 160,
    "wires": []
  },

  {
    "id": "inject_retry_traffic",
    "type": "inject",
    "z": "flow_traffic",
    "name": "Retry Queue setiap 60 detik",
    "props": [{ "p": "payload" }],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 220,
    "wires": [["retry_traffic_queue"]]
  },

  {
    "id": "retry_traffic_queue",
    "type": "function",
    "z": "flow_traffic",
    "name": "Retry dari Queue Lokal",
    "func": "const queue = context.get('traffic_queue') || [];\n\nif (queue.length === 0) {\n    node.log('[Traffic] Queue kosong, tidak ada yang perlu di-retry.');\n    return null;\n}\n\nnode.log(`[Traffic] Mencoba retry ${queue.length} item dari queue lokal...`);\n\nconst messages = [];\nconst gatewayUrl = env.get('GATEWAY_URL') || 'http://api-gateway:3000';\nconst iotToken   = env.get('IOT_TOKEN')   || '';\n\n// Ambil semua item dari queue dan kirim ulang\nfor (const item of queue) {\n    messages.push({\n        url:     `${gatewayUrl}/iot/traffic`,\n        method:  'POST',\n        payload: item.payload.original || item.payload,\n        headers: {\n            'Content-Type':  'application/json',\n            'Authorization': `Bearer ${iotToken}`,\n            'X-Source':      'node-red-retry'\n        }\n    });\n}\n\n// Kosongkan queue setelah retry\ncontext.set('traffic_queue', []);\n\n// Return pesan pertama (Node-RED akan proses satu per satu)\nif (messages.length > 0) {\n    return messages[0];\n}\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 220,
    "wires": [["http_post_traffic"]]
  },

  {
    "id": "comment_air_flow",
    "type": "comment",
    "z": "flow_air",
    "name": "FLOW 2: city/+/air → POST /iot/air",
    "info": "Subscribe semua zona air quality dari MQTT\nlalu POST ke API Gateway endpoint /iot/air",
    "x": 180,
    "y": 40,
    "wires": []
  },

  {
    "id": "mqtt_in_air",
    "type": "mqtt in",
    "z": "flow_air",
    "name": "Subscribe city/+/air",
    "topic": "city/+/air",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 120,
    "wires": [["transform_air"]]
  },

  {
    "id": "transform_air",
    "type": "function",
    "z": "flow_air",
    "name": "Transform Air Quality Payload",
    "func": "const data  = msg.payload;\nconst topic = msg.topic; // city/zone1/air\n\n// Ekstrak zone dari topic\nconst topicParts = topic.split('/');\nconst zone = topicParts[1];\n\n// Validasi field wajib\nif (data.pm25 === undefined || data.temperature === undefined) {\n    node.warn(`[Air] Payload tidak lengkap dari topic: ${topic}`);\n    return null;\n}\n\n// Map zone ke zone_id\nconst zoneMap = {\n    'zone1': 1,\n    'zone2': 2,\n    'zone3': 3,\n    'zone4': 4,\n    'zone5': 5\n};\n\nconst zoneId = zoneMap[zone];\nif (!zoneId) {\n    node.warn(`[Air] Zone tidak dikenal: ${zone}`);\n    return null;\n}\n\n// Tentukan alert level berdasarkan PM2.5 (WHO standard)\nlet alertLevel = null;\nif (data.pm25 > 150) {\n    alertLevel = 'hazardous';\n} else if (data.pm25 > 55) {\n    alertLevel = 'unhealthy';\n} else if (data.pm25 > 35) {\n    alertLevel = 'moderate';\n}\n\n// Jika anomali terdeteksi dari simulator, log warning\nif (data.is_anomaly) {\n    node.warn(`[Air] ANOMALY terdeteksi di ${zone}! PM2.5=${data.pm25}`);\n}\n\n// Transform ke format yang diharapkan PHP Environment Service\nconst transformedPayload = {\n    zone_id:     zoneId,\n    pm25:        parseFloat(data.pm25.toFixed(3)),\n    pm10:        parseFloat(data.pm10.toFixed(3)),\n    no2:         parseFloat(data.no2.toFixed(3)),\n    co:          parseFloat(data.co.toFixed(3)),\n    o3:          parseFloat(data.o3.toFixed(3)),\n    temperature: parseFloat(data.temperature.toFixed(2)),\n    humidity:    parseFloat(data.humidity.toFixed(2)),\n    sensor_id:   data.sensor_id || `ENV-${zone.toUpperCase()}-01`,\n    recorded_at: data.timestamp || new Date().toISOString(),\n    // Metadata tambahan\n    _meta: {\n        source:      'mqtt',\n        topic:       topic,\n        zone:        zone,\n        zone_name:   data.zone_name || zone,\n        is_anomaly:  data.is_anomaly || false,\n        alert_level: alertLevel,\n        received_at: new Date().toISOString()\n    }\n};\n\nconst gatewayUrl = env.get('GATEWAY_URL') || 'http://api-gateway:3000';\nconst iotToken   = env.get('IOT_TOKEN')   || '';\n\nmsg.url     = `${gatewayUrl}/iot/air`;\nmsg.method  = 'POST';\nmsg.payload = transformedPayload;\nmsg.headers = {\n    'Content-Type':  'application/json',\n    'Authorization': `Bearer ${iotToken}`,\n    'X-Device-ID':   data.sensor_id || `ENV-${zone.toUpperCase()}-01`,\n    'X-Source':      'node-red-bridge',\n    'X-Zone':        zone\n};\n\nnode.log(`[Air] Zone ${zone} (id:${zoneId}) PM2.5:${transformedPayload.pm25} Temp:${transformedPayload.temperature}°C${data.is_anomaly ? ' ⚠ ANOMALY' : ''}`);\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 120,
    "wires": [["http_post_air"]]
  },

  {
    "id": "http_post_air",
    "type": "http request",
    "z": "flow_air",
    "name": "POST /iot/air",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": true,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 600,
    "y": 120,
    "wires": [["handle_air_response"], ["handle_air_error"]]
  },

  {
    "id": "handle_air_response",
    "type": "function",
    "z": "flow_air",
    "name": "Handle Response",
    "func": "const status = msg.statusCode;\nconst body   = msg.payload;\n\nif (status === 200 || status === 201) {\n    node.log(`[Air] ✓ Berhasil POST ke gateway: ${status}`);\n    msg.payload = {\n        success:     true,\n        status_code: status,\n        response:    body,\n        timestamp:   new Date().toISOString()\n    };\n    return [msg, null];\n} else if (status === 429) {\n    node.warn('[Air] Rate limited (429). Data disimpan ke antrian lokal.');\n    msg.payload = { success: false, reason: 'rate_limited', retry: true, data: msg.payload };\n    return [null, msg];\n} else {\n    node.error(`[Air] Gateway error: ${status} - ${JSON.stringify(body)}`);\n    msg.payload = { success: false, status_code: status, error: body };\n    return [null, msg];\n}",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 100,
    "wires": [["debug_air_success"], ["local_queue_air"]]
  },

  {
    "id": "handle_air_error",
    "type": "function",
    "z": "flow_air",
    "name": "Handle Connection Error",
    "func": "node.warn(`[Air] Gateway tidak bisa dijangkau: ${msg.error}`);\nmsg.payload = {\n    success:   false,\n    reason:    'gateway_down',\n    error:     msg.error,\n    original:  msg.payload,\n    queued_at: new Date().toISOString()\n};\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 160,
    "wires": [["local_queue_air"]]
  },

  {
    "id": "local_queue_air",
    "type": "function",
    "z": "flow_air",
    "name": "Local Queue (Gateway Down)",
    "func": "const queue = context.get('air_queue') || [];\n\nqueue.push({ payload: msg.payload, queued_at: new Date().toISOString() });\n\nif (queue.length > 100) {\n    queue.shift();\n    node.warn('[Air] Queue penuh (100), item lama dihapus');\n}\n\ncontext.set('air_queue', queue);\nnode.warn(`[Air] Data disimpan ke antrian lokal. Queue size: ${queue.length}`);\n\nmsg.payload = { queued: true, queue_size: queue.length };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 160,
    "wires": [["debug_air_queue"]]
  },

  {
    "id": "debug_air_success",
    "type": "debug",
    "z": "flow_air",
    "name": "Air Success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.status_code",
    "statusType": "msg",
    "x": 1020,
    "y": 100,
    "wires": []
  },

  {
    "id": "debug_air_queue",
    "type": "debug",
    "z": "flow_air",
    "name": "Air Queued",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1220,
    "y": 160,
    "wires": []
  },

  {
    "id": "inject_retry_air",
    "type": "inject",
    "z": "flow_air",
    "name": "Retry Queue setiap 60 detik",
    "props": [{ "p": "payload" }],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 220,
    "wires": [["retry_air_queue"]]
  },

  {
    "id": "retry_air_queue",
    "type": "function",
    "z": "flow_air",
    "name": "Retry dari Queue Lokal",
    "func": "const queue = context.get('air_queue') || [];\n\nif (queue.length === 0) {\n    node.log('[Air] Queue kosong.');\n    return null;\n}\n\nnode.log(`[Air] Retry ${queue.length} item dari queue lokal...`);\n\nconst gatewayUrl = env.get('GATEWAY_URL') || 'http://api-gateway:3000';\nconst iotToken   = env.get('IOT_TOKEN')   || '';\n\nconst item = queue.shift();\ncontext.set('air_queue', queue);\n\nreturn {\n    url:     `${gatewayUrl}/iot/air`,\n    method:  'POST',\n    payload: item.payload.original || item.payload,\n    headers: {\n        'Content-Type':  'application/json',\n        'Authorization': `Bearer ${iotToken}`,\n        'X-Source':      'node-red-retry'\n    }\n};",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 220,
    "wires": [["http_post_air"]]
  },

  {
    "id": "comment_status",
    "type": "comment",
    "z": "flow_status",
    "name": "FLOW 3: Status Monitor MQTT & Gateway",
    "info": "Monitor koneksi MQTT dan status gateway",
    "x": 200,
    "y": 40,
    "wires": []
  },

  {
    "id": "mqtt_status_sub",
    "type": "mqtt in",
    "z": "flow_status",
    "name": "Subscribe city/simulator/status",
    "topic": "city/simulator/status",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 120,
    "wires": [["process_simulator_status"]]
  },

  {
    "id": "process_simulator_status",
    "type": "function",
    "z": "flow_status",
    "name": "Process Simulator Status",
    "func": "const data = msg.payload;\n\nif (data.status === 'online') {\n    node.log(`[Status] IoT Simulator ONLINE - zones: ${JSON.stringify(data.zones)} interval: ${data.interval}s`);\n} else if (data.status === 'offline') {\n    node.warn('[Status] IoT Simulator OFFLINE!');\n}\n\nmsg.payload = {\n    event:     'simulator_status',\n    status:    data.status,\n    zones:     data.zones,\n    interval:  data.interval,\n    timestamp: data.timestamp\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 120,
    "wires": [["debug_status"]]
  },

  {
    "id": "inject_health_check",
    "type": "inject",
    "z": "flow_status",
    "name": "Health Check Gateway setiap 30 detik",
    "props": [{ "p": "payload" }],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 220,
    "wires": [["check_gateway_health"]]
  },

  {
    "id": "check_gateway_health",
    "type": "http request",
    "z": "flow_status",
    "name": "GET /health/gateway",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://api-gateway:3000/health/gateway",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": true,
    "headers": [],
    "x": 460,
    "y": 220,
    "wires": [["process_health_response"], ["process_health_error"]]
  },

  {
    "id": "process_health_response",
    "type": "function",
    "z": "flow_status",
    "name": "Process Health Response",
    "func": "const status = msg.statusCode;\nconst body   = msg.payload;\n\nif (status === 200 && body.data && body.data.gateway === 'healthy') {\n    node.log('[Health] Gateway SEHAT ✓');\n    msg.payload = { gateway: 'healthy', uptime: body.data.uptime_seconds };\n} else {\n    node.warn(`[Health] Gateway bermasalah: ${status}`);\n    msg.payload = { gateway: 'unhealthy', status_code: status };\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 200,
    "wires": [["debug_status"]]
  },

  {
    "id": "process_health_error",
    "type": "function",
    "z": "flow_status",
    "name": "Gateway Down",
    "func": "node.error(`[Health] Gateway tidak bisa dijangkau! Error: ${msg.error}`);\nmsg.payload = { gateway: 'down', error: msg.error, timestamp: new Date().toISOString() };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 260,
    "wires": [["debug_status"]]
  },

  {
    "id": "debug_status",
    "type": "debug",
    "z": "flow_status",
    "name": "Status Monitor",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 220,
    "wires": []
  }
]
